[General]
LastActiveDatabase={{ keepass_database}}
LastDatabases={{ keepass_database}}
LastOpenedDatabases={{ keepass_database}}

[Browser]
AlwaysAllowAccess=true
CustomBrowserLocation=
CustomBrowserType=2
CustomProxyLocation=
Enabled=true
NativeMessagingWhitelist=*

[GUI]
MinimizeOnClose=true
MinimizeToTray=true
ShowTrayIcon=true
TrayIconAppearance=monochrome-light

[PasswordGenerator]
AdditionalChars=
ExcludedChars=

[Security]
LockDatabaseScreenLock=false