[Desktop Entry]
Type=Application
Exec={{ keepass_unlock_script_location }}/.ait-unlock-keepassxc.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Unlock keepassxc database
Comment=Kills all keepassxc processes, restarts it and unlocks database automatically